.input-base {
    padding: 0.5rem 0.7rem;
    border: 1px solid #ccc;
    border-radius: 0.375rem;
    font-size: 1rem;
    width: 250px;
    height: 50px;
    box-sizing: border-box;
}

.input-base:focus {
    outline: none;
    border-color: blue;
}

.input-error {
    border-color: red;
}

.input-error-text {
    color: red;
    font-size: 0.875rem;
    margin-top: 0.25rem;
}

.input-label {
    display: block;
    margin-bottom: 0.25rem;
    font-weight: 500;
}